<div class="forms-container">
  <div class="left-half edit-information-left-half"></div>
  <div class="right-half">
    <h2>Editar datos de usuario</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Nueva contraseña' %>
        <i>(deja en blanco si no quieres cambiarla)</i><br />
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirma tu nueva contraseña' %>
      </div>
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Contraseña actual' %>
        <i>(debes ingresar tu contraseña para confirmar los cambios)</i><br />
      </div>
      <div class="actions">
        <%= f.submit "Guardar cambios" %>
      </div>
    <% end %>
    <div class="delete-account-container">
      <h3>Cancelar cuenta</h3>
      <p>¿No te gusta nuestro servicio?</p>
      <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Esta por elimnar su cuenta ¿Esta seguro?", turbo_confirm: "Esta por elimnar su cuenta ¿Esta seguro?" }, method: :delete %>
    </div>
    <div class="shared-links">
      <%= link_to "Regresar", :back %>
    </div>
  </div>
</div>
