<%= form_with(model: comment, class:"comments-form") do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2>Hubo problemas con el registro:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :lesson_id, value: comment.lesson.id %>
  <%= form.label :content, class: "form-label" do %>
    <img src="<%= asset_path 'png/4.png' %>" alt="user-icon">
    <%= form.text_area :content, placeholder: 'Deja un comentario', required: true %>
  <% end %>
  <div >
    <%= form.submit 'Guardar' %>
  </div>
<% end %>
