<nav class='principal-nav'>
  <section class="nav-searcher">
    <a href="/" class="logo">La valentina</a>
  </section>
  <section class="nav-filter">
    <div class="nav-filter-right" data-controller="hello">
      <%= link_to 'Cursos', courses_path() %>
      <%= link_to 'Tus cursos', my_courses_path() %>
      <% unless user_signed_in? %>
        <%= link_to 'Registrate', new_user_registration_path() %>
        <%= link_to 'Iniciar Sesión', new_user_session_path() %>
        <strong><span>Invitado</span></strong>
      <% else %>
        <div class="current-user-menu">
          <strong><span><%= current_user.email %></span></strong>
          <div class="menu-icon" id="menu-icon" data-action="hello#menuInteraction">
            <i class="fa-solid fa-caret-down"></i>
          </div>
          <%= render "partials/options_menu" %>
        </div>
      <% end %>
      <% if @current_cart %>
        <%= link_to cart_path(@current_cart), class: 'cart-link' do %>
          <i class="fa-solid fa-cart-shopping"></i>
          <div class="new-item <%= 'inactive' if @current_cart.courses.size == 0 %>">
            <span> <%= @current_cart.total_courses %> </span>
          </div>
        <% end %>
      <% else %>
        <%= link_to default_cart_path(), class: 'cart-link', alert: 'Debes iniciar sesión' do %>
          <i class="fa-solid fa-cart-shopping"></i>
        <% end %>
      <% end %>
    </div>
  </section>
</nav>
