<div class="home">
  <header>
    <nav class="home-nav">
      <ul>
        <li class="small">
          <%= link_to 'Cursos', courses_path() %>
        </li>
        <li class="small">
          <a href="#">Tus cursos</a>
        </li>
        <% unless user_signed_in? %>
          <li class="big">
            <%= link_to 'Registrate', new_user_registration_path() %>
          </li>
          <li class="big">
            <%= link_to 'Iniciar Sesión', new_user_session_path() %>
          </li>
        <% else %>
          <li class="big">
            <span><%= current_user.email %></span>
          </li>
          <li class="big">
            <%= link_to 'Cerrar sesión', destroy_user_session_path(), data: { "turbo-method": :delete } %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <section class="intro">
      <h1>Crea tu negocio desde 0</h1>
      <p>
        Con especialistas y expertos en la cocina, podras abrir tu negocio con
        los conocimientos de las personas que ya tienen su propio negocio.
      </p>
      <a href="#" class="btn">COMIENZA AHORA</a>
    </section>
  </main>
</div>
