<div class="admin-container">
  <%= render "partials/admin-aside" %>
  <main class="admin-content">
    <table>
      <tr>
        <th>Id</th>
        <th>Comprador</th>
        <th class="th-date">
          <span>Fecha de compra</span>
          <%= link_to admin_sales_path(filter: 'date_higher') do %>
            <i class="fa-solid fa-arrow-up"></i>
          <% end %>
          <%= link_to admin_sales_path(filter: 'date_lower') do %>
            <i class="fa-solid fa-arrow-down"></i>
          <% end %>
        </th>
        <th class="th-total">
          <span>Total</span>
          <%= link_to admin_sales_path(filter: 'price_higher')  do %>
            <i class="fa-solid fa-arrow-up"></i>
          <% end %>
          <%= link_to admin_sales_path(filter: 'price_lower')  do %>
            <i class="fa-solid fa-arrow-down"></i>
          <% end %>
        </th>
      </tr>
      <% @sales.each do |sale| %>
        <tr>
          <td>
            <%= sale.id %>
          </td>
          <td>
            <%= sale.user.name %>
          </td>
          <td>
            <%= sale.updated_at.strftime('%d/%b/%Y - %I:%M %p') %>
          </td>
          <td>
            <%= number_to_currency(sale.sub_total) %>
          </td>
          <td>
            <%= link_to 'Ver', cart_sale_path(sale) %>
          </td>
        </td>
      <% end %>
    </table>
  </main>
</div>
