<%= form_with(model: lesson, url: path) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="data">
    <div class="fields">
      <%= form.label :lesson_number, 'Número de clase' %>
      <%= form.text_field :lesson_number, required: true %>
    </div>
    <div class="fields">
      <%= form.label :title, 'Titulo de la clase' %>
      <%= form.text_field :title, required: true %>
    </div>
    <div class="fields">
      <%= form.label :description, 'Descripción' %>
      <%= form.text_area :description, required: true %>
    </div>
  </div>
  <div class="media-content">
    <div class="fields">
      <%= form.label :cover do %>
        <span>Miniatura</span>
        <%= form.file_field :cover %>
        <div class="upload">
          <% if lesson.cover.attached? %>
            <%= image_tag lesson.cover.representation(resize_to_limit: [400, 400]), id: 'cover'%>
          <% else %>
            <img src=<%= asset_path 'png/7.png' %> alt="uploader-cover" id="cover">
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="fields">
      <%= form.label :video do %>
        <span>Video</span>
      <% end %>
      <%= form.file_field :video %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit 'Guardar' %>
  </div>
<% end %>
<script>
  const uploadPictureButton = document.querySelector('#lesson_cover')

  uploadPictureButton.addEventListener('change', (event) => {
    displayPicture(event)
  })

  const displayPicture = (event) => {
    const input = event.target
    if (input.files && input.files[0]) {
      const reader = new FileReader()

      reader.onload = function (e) {
        document.getElementById('cover').setAttribute('src', e.target.result)
      }

      reader.readAsDataURL(input.files[0])
    }
  }
</script>
