<main class="show-lesson">
  <%= render 'partials/admin-nav' %>
  <header>
    <h1><%= @lesson.title %></h1>
    <p>Clase <%= @lesson.lesson_number %></p>
  </header>
  <aside class="left-side">
    <% if @lesson.video.attached? %>
      <%= video_tag(url_for(@lesson.video), controls: true) %>
    <% end %>
    <div class="description-lesson-container">
      <h2>Descripción:</h2>
      <p><%= @lesson.description%></p>
    </div>
    <div class="comments-section">
      <form action="" class="comments-form">
        <label for="">
          <img src="<%= asset_path 'png/4.png' %>" alt="user-icon">
          <textarea name="" id="" placeholder="Deja un comentario"></textarea>
        </label>
        <div>
          <input type="submit">
        </div>
      </form>
      <div class="comments-container">
        <div class="comment">
          <h3>Usuario X</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi saepe aperiam quis soluta libero! Voluptatibus, voluptate. Nostrum aut natus optio sed ab sequi deleniti, cumque a. Tenetur sapiente suscipit delectus.</p>
          <hr>
        </div>
        <div class="comment">
          <h3>Usuario X</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi saepe aperiam quis soluta libero! Voluptatibus, voluptate. Nostrum aut natus optio sed ab sequi deleniti, cumque a. Tenetur sapiente suscipit delectus.</p>
          <hr>
        </div>
        <div class="comment">
          <h3>Usuario X</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi saepe aperiam quis soluta libero! Voluptatibus, voluptate. Nostrum aut natus optio sed ab sequi deleniti, cumque a. Tenetur sapiente suscipit delectus.</p>
          <hr>
        </div>
        <div class="comment">
          <h3>Usuario X</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi saepe aperiam quis soluta libero! Voluptatibus, voluptate. Nostrum aut natus optio sed ab sequi deleniti, cumque a. Tenetur sapiente suscipit delectus.</p>
        </div>
      </div>
    </div>
  </aside>
  <aside class="rigth-side">
    <div>
      <h2>Lista de reproducción</h2>
      <section class="lessons">
        <% @course.lessons.each do |lesson| %>
          <%= link_to course_lesson_path(@course, lesson), class: 'lesson' do %>
            <% if lesson.cover.attached? %>
              <%= image_tag lesson.cover.representation(resize_to_limit: [200, 200]) %>
            <% end %>
            <h3><%= lesson.title %></h3>
          <% end %>
        <% end %>
      </section>
    </div>
    <div>
      <h2>Extras</h2>
      <section class="extras">
        <% if @lesson.extras.attached? %>
          <% @lesson.extras.each do |extra| %>
            <%= link_to url_for(extra), target:'_blank' do %>
              <img src="<%= asset_path 'png/8.png' %>" alt="icon-for-file">
            <% end %>
          <% end %>
        <% else %>
          <h3>No hay archivos complementarios</h3>
        <% end %>
      </section>
    </div>
    <div class="lesson-options">
      <% if false %>
        <%= link_to "Editar clase", edit_course_lesson_path(@course, @lesson) %>
        <%= button_to "Eliminar clase", course_lesson_path(@course, @lesson), data: { turbo_confirm: "Esta por elimnar '#{@lesson.title}'. ¿Estas seguro?" }, method: :delete %>
      <% end %>
    </div>
  </aside>
</main>
