<main class="show-lesson">
  <header>
    <h1><%= @lesson.title %></h1>
    <p>Clase <%= @lesson.lesson_number %></p>
  </header>
  <aside class="left-side">
    <% if @lesson.video.attached? %>
      <%= video_tag(url_for(@lesson.video), controls: true) %>
    <% end %>
    <div class="description-lesson-container">
      <h2>Descripción:</h2>
      <p><%= @lesson.description%></p>
    </div>
    <div class="comments-section">
      <%= render 'comments/form', comment: @comment, lesson: @lesson %>
      <div class="comments-container">
        <% @lesson.comments.each do |comment|%>
          <% if comment.persisted? %>
            <div class="comment">
              <h3><%= comment.user.name %></h3>
              <p><%= comment.content %></p>
              <% if comment.user == current_user %>
                <%= button_to "X", comment_path(comment), data: { turbo_confirm: "¿Seguro que quiere elimianr el comentario?" }, method: :delete %>
              <% end %>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </aside>
  <aside class="rigth-side">
    <div>
      <h2>Lista de reproducción</h2>
      <section class="lessons">
        <% @course.lessons.each do |lesson| %>
          <%= link_to course_lesson_path(@course, lesson), class: 'lesson' do %>
            <% if lesson.cover.attached? %>
              <%= image_tag lesson.cover.representation(resize_to_limit: [200, 200]) %>
            <% end %>
            <h3><%= lesson.title %></h3>
          <% end %>
        <% end %>
      </section>
    </div>
    <div>
      <h2>Extras</h2>
      <section class="extras">
        <% if @lesson.extras.attached? %>
          <% @lesson.extras.each do |extra| %>
            <%= link_to url_for(extra), target:'_blank' do %>
              <img src="<%= asset_path 'png/8.png' %>" alt="icon-for-file">
            <% end %>
          <% end %>
        <% else %>
          <h3>No hay archivos complementarios</h3>
        <% end %>
      </section>
    </div>
    <div class="lesson-options">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "Editar clase", edit_course_lesson_path(@course, @lesson) %>
          <%= button_to "Eliminar clase", course_lesson_path(@course, @lesson), data: { turbo_confirm: "Esta por elimnar '#{@lesson.title}'. ¿Estas seguro?" }, method: :delete %>
        <% end %>
      <% end %>
    </div>
  </aside>
</main>
