<main>
  <h1>Success!!</h1>
  <p>You just bought:</p>
  <h3><%= @session.customer_details.name %></h3>
  <h3><%= @session.customer_details.email %></h3>
  <br>
  <% @line_items.each do |item|%>
    <h3><%= item.description %></h3>
    <p>$<%= item.price.unit_amount / 100%></p>
  <% end %>
  <h2>Your total was: $<%= @session.amount_total.to_f / 100 %></h2>
</main>
