<div id="<%= dom_id course %>" class="course">
  <figure>
    <% if course.cover.attached? %>
      <%= link_to course do %>
        <%= image_tag course.cover.representation(resize_to_limit: [400, 400]) %>
      <% end %>
      <%= render 'partials/course-score', course: course %>
    </figure>
  <% end %>
  <div class="data">
    <%= link_to course do %>
      <p class="name">
        <strong>
          <%= course.name %>
        </strong>
      </p>
      <p>
        <%= course.description %>
      </p>
    <% end %>
    <p>
      <strong>
        $<%= course.price.round(2) %>
      </strong>
    </p>
    <%= link_to 'COMPRAR', course, class: 'link-to-buy' %>
  </div>
</div>
