<div class="admin-container">
  <%= render "partials/admin-aside" %>
  <main class="admin-content">
    <header>
      <h2>Tus cursos</h2>
      <%= render 'partials/searcher', path: admin_courses_path %>
    </header>
    <div class="courses-list">
      <% @courses.each do |course| %>
        <%= link_to course do %>
          <%= render course %>
        <% end %>
      <% end %>
      <%= link_to new_course_path, class: 'create-link' do %>
        <img src=<%= asset_path 'png/7.png' %> alt="">
      <% end %>
    </div>
  </main>
</div>
