<main class="show-course">
  <%= render 'partials/admin-nav' %>
  <aside class="left-side">
    <h1><%= @course.name %></h1>
    <p><%= @course.description %></p>
    <div>
      <h2>Lista de reproducción</h2>
      <section class="lessons">
        <% @course.lessons.each do |lesson| %>
          <%= link_to course_lesson_path(@course, lesson), class: 'lesson' do %>
            <% if lesson.cover.attached? %>
              <%= image_tag lesson.cover.representation(resize_to_limit: [200, 200]) %>
            <% end %>
            <h3><%= lesson.title %></h3>
          <% end %>
        <% end %>
      </section>
    </div>
  </aside>
  <aside class="rigth-side">
    <% if @course.cover.attached? %>
      <%= image_tag @course.cover.representation(resize_to_limit: [600, 600]) %>
      <% if @course.scores.length > 0 %>
        <span class="course-score"><%= @course.rating %></span>
      <% else %>
        <span class="course-score">0</span>
      <% end %>
    <% end %>
  </aside>
  <div class="courses-options">
    <% if false %>
      <%= link_to "Volver", admin_courses_path %>
      <%= link_to "Añadir nueva clase", new_course_lesson_path(@course)  %>
      <%= link_to "Editar curso", edit_course_path(@course) %>
      <%= button_to "Eliminar curso", @course, data: { turbo_confirm: "Esta por elimnar '#{@course.name}'. ¿Estas seguro?" }, method: :delete %>
    <% else %>
      <% if user_signed_in? %>
        <% unless @course.rated?(current_user.id) %>
          <%= link_to "Valorar", new_course_score_path(@course), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
        <% end %>
      <% end %>
      <button>
        Comprar curso
      </button>
    <% end %>
  </div>
</main>
