<main class="show-course">
  <aside class="left-side">
    <h1><%= @course.name %></h1>
    <p><%= @course.description %></p>
    <div>
      <h2>Lista de reproducción</h2>
      <section class="lessons">
        <% @course.lessons.each do |lesson| %>
          <%= link_to course_lesson_path(@course, lesson), class: 'lesson' do %>
            <% if lesson.cover.attached? %>
              <%= image_tag lesson.cover.representation(resize_to_limit: [200, 200]) %>
            <% end %>
            <h3><%= lesson.title %></h3>
          <% end %>
        <% end %>
      </section>
    </div>
  </aside>
  <aside class="rigth-side">
    <% if @course.cover.attached? %>
      <%= image_tag @course.cover %>
      <%= render 'partials/course-score', course: @course %>
    <% end %>
  </aside>
  <div class="courses-options">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "Añadir nueva clase", new_course_lesson_path(@course)  %>
        <%= link_to "Editar curso", edit_course_path(@course) %>
        <%= button_to "Ocultar curso", @course, data: { turbo_confirm: "Esta por elimnar '#{@course.name}'. ¿Estas seguro?" }, method: :delete %>
      <% else %>
        <% unless @course.rated?(current_user.id) %>
          <%= link_to "Valorar", new_course_score_path(@course), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
        <% end %>
        <%= render 'partials/add_cart_form', course: @course %>
      <% end %>
    <% else %>
      <%= render 'partials/add_cart_form', course: @course %>
    <% end %>
  </div>
</main>
